# Database connection string
DATABASE_URL="your-database-url"

# Frontend application URL
FRONTEND_URL="your-frontend-url"

# Better-Auth secret key
BETTER_AUTH_APP_NAME="Finora AI"
BETTER_AUTH_SECRET="your-generated-better-auth-secret"

# Resend Email Configuration
RESEND_API_KEY="your-resend-api-key"
MAILER_SENDER="Finora AI <no-reply@example.com>"

GOOGLE_CLIENT_ID="your-google-oauth-client-id"
GOOGLE_CLIENT_SECRET="your-google-oauth-client-secret"

# Gemini API Key
GEMINI_API_KEY="your-gemini-api-key"

# Cloudinary API Key
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudnary-api-secret"